In [ ]:
"""
                Module 1 - Introduction to Python Assignment - 2

Problem Statement:

Consider yourself to be Sam who is a data scientist. He has been invited as a guest lecturer at a college
to take an introductory session on Python.
Tasks to be performed:

"""

In [4]:
#    1. Create 1st tuple with values -> (10,20,30), 2nd tuple with values -> (40,50,60).

#a. Concatenate the two tuples and store it in “t_combine”

first_tuple = (10,20,30)

second_tuple = (40,50,60)

t_combine = first_tuple + second_tuple 

print(t_combine)

(10, 20, 30, 40, 50, 60, 40, 50, 60, 40, 50, 60)

In [3]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [10]:
#b. Repeat the elements of “t_combine” 3 times

first_tuple = (10,20,30)

second_tuple = (40,50,60)

t_combine = (first_tuple + second_tuple )*3

print(t_combine)

(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [12]:
#c. Access the 3rd element from “t_combine”

t_combine

print(t_combine[2])

30

In [13]:
#d. Access the first three elements from “t_combine”

print(t_combine[:3])

(10, 20, 30)

In [27]:
#e. Access the last three elements from “t_combine”

print(t_combine[15:18])
print(len(t_combine))

(40, 50, 60)
18

In [1]:
#2. Create a list ‘my_list’ with these elements:
#a. First element is a tuple with values 1,2,3
#b. Second element is a tuple with values “a”,”b”,”c”
#c. Third element is a tuple with values True,False


first_tuple = (1,2,3)
second_tuple = ("a","b","c")
third_tuple = (True,False)

my_list = list(first_tuple + second_tuple + third_tuple)

print(my_list)

[1, 2, 3, 'a', 'b', 'c', True, False]

In [4]:
# 3. Append a new tuple – (1,’a’,True) to ‘my_list’
# a. Append a new list – “sparta”,123+ to my_list

new_tuple = (1,"a",True)

my_list.append(new_tuple)
print(my_list)

[1, 2, 3, 'a', 'b', 'c', True, False, (1, 'a', True)]

In [5]:
# a. Append a new list – “sparta”,123+ to my_list

new_list = ["sparta",123]

my_list.append(new_list)

print(my_list)

[1, 2, 3, 'a', 'b', 'c', True, False, (1, 'a', True), ['sparta', 123]]

In [8]:
#4. Create a dictionary ‘fruit’ where:
#a. The first key is ‘Fruit’ and the values are (“Apple”,”Banana”,”Mango”,”Guava”)
#b. The second key is ‘Cost’ and the values are (85,54,120,70)
#c. Extract all the keys from ‘fruit’
#d. Extract all the values from ‘fruit’

thisdict = {
    "fruit": ("Apple","Banana","Mango","Guava"),
    "Cost": (85,54,120,70)
}

print(thisdict)

{'fruit': ('Apple', 'Banana', 'Mango', 'Guava'), 'Cost': (85, 54, 120, 70)}

In [9]:
#c. Extract all the keys from ‘fruit’

x = thisdict.keys()

print(x)

dict_keys(['fruit', 'Cost'])

In [10]:
#d. Extract all the values from ‘fruit’

val = thisdict.values()

print(val)

dict_values([('Apple', 'Banana', 'Mango', 'Guava'), (85, 54, 120, 70)])

In [11]:
# 5. Crete a set named ‘my_set’ with values (1,1,”a”,”a”,True,True) and print the result

new_set = {1,1,"a","a",True,True}

print(new_set)

{1, 'a'}